<!DOCTYPE html>
<html>
<head>
  <title>Momocloanalytics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
	<%= link_to "twitterでログイン", 'auth/twitter' %>
</div>
<%= yield %>

</body>
</html>
